body {
  height: 100vh;
}

.landing {
}

.footer {
  bottom: 0px;
  position: auto;
  width: 100%;
  text-decoration: none;
  font-family: comic;
}
.jumbotron-about {
  padding: 11rem 1rem;
  background-color: transparent;
}

.ims {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11rem;
}

.nav-item:hover {
  background-color: rgb(255, 53, 94);
  transition: 0.2s ease-in-out;
  transition-delay: 0.2s;
  border-radius: 10px;
}
.coba {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11rem;
}
.navbar-brand {
  font-size: 30px;
}

section {
  padding-top: 7rem;
}
